.venv/
__pycache__/
*.pyc
.git/
.gitignore

data/raw/
!data/raw/calendar.csv
data/processed/*.csv
data/processed/*.xlsx

notebooks/
reports/
logs/
tests/

frontend/
*.ipynb
*.log
.DS_Store

mlruns/
mlflow.db
mlflow*.db
